{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Daftar Pengguna</title>
    <link rel="stylesheet" href="{% static 'diagnosa/daftar_pengguna.css' %}">
</head>
<body>
    <h2>📋 Daftar Pengguna Terdaftar</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Aktif</th>
                <th>Waktu Registrasi</th>
                <th>Aksi</th> 
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.is_active }}</td>
                <td>{{ user.date_joined|date:"Y-m-d H:i" }}</td>
                <td>
                    {% if user.username != request.user.username %} <!-- supaya admin tidak hapus dirinya sendiri -->
                    <a href="{% url 'hapus_pengguna' user.id %}" 
                    onclick="return confirm('Apakah Anda yakin ingin menghapus pengguna ini?')"
                    style="color: white; background-color: #ef4444; padding: 5px 10px; border-radius: 5px; text-decoration: none;">
                    🗑️ Hapus
                    </a>
                    {% else %}
                    <span style="color: gray;">Untuk admin tidak bisa hapus diri sendiri</span>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="4">Belum ada data</td></tr>
            {% endfor %}
        </tbody>
    </table>

<!-- Tombol kembali -->
    <div style="text-align: center; margin-top: 30px;">
    <a href="{% url 'home' %}" style="
        padding: 10px 20px;
        background-color: #10b981;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        ">
        ← Kembali ke Menu
        </a>
     </div>
   </body>
</html>
