{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Menu Deteksi Diabetes</title>
  <link rel="stylesheet" href="{% static 'diagnosa/home.css' %}">
</head>

<body>
  <div class="header">
    <h2>Deteksi Diabetes</h2>

    <!-- Tambahkan username di sini -->
  <div class="username">
    👤 {{ request.user.username }}
  </div>

    <a href="{% url 'logout' %}" class="logout-button">Logout</a>
  </div>
  <div class="container">
    <h1>Menu Deteksi Diabetes</h1>
    <!-- Semua user bisa lihat ini -->
    <a href="{% url 'form_manual' %}" class="menu-button">➕ Input Manual</a>

    <!-- Hanya admin yang bisa lihat ini -->
     {% if user.is_superuser %}
    <a href="{% url 'form_upload' %}" class="menu-button">📂 Upload CSV</a>
    <a href="{% url 'rekap_admin' %}" class="menu-button">📋 Rekap Hasil Data Pasien</a>
    <a href="{% url 'daftar_pengguna' %}" class="menu-button">👥 Daftar Pengguna</a>
    {% endif %}
  </div>
{% endblock %}
</body>
</html>
